{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRN SmartCare</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body class="home-page">
    <nav>

        <div class="logo">
            <a href="{% url 'home' %}">PRN SmartCare</a>
        </div>

        <ul>

            <li><a href="">Home</a></li>

            <li><a href="">About</a></li>

            <li><a href="">Contact</a></li>

        </ul>

    </nav>

    <section class="hero">

        <div class="left">

            <h1>Welcome to <span>PRN SmartCare</span></h1>

            <p>
                Smart Clinic File Management System that helps
                healthcare professionals manage patient records
                securely and efficiently.
            </p>

            <div class="buttons">

                <a href="{% url 'login' %}" class="login-btn">
                    Login
                </a>

                <a href="{% url 'register' %}" class="register-btn">
                    Register
                </a>

            </div>

        </div>

    </section>

</body>
</html>