    {%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="login-box">
    <h1 align ="middle" style="color: green;"> WELCOME!!</h1>
    <h2 align="middle" style="color: green;">PRN SMARTCARE</h2>
    <br>
    <h2 style="color: rgb(43, 161, 13);"> <i>Welcome to PRN SmartCare — your secure gateway to patient file management. Authorized healthcare professionals can register, log in, and safely create or access patient records with confidence. Our platform is built to protect sensitive information while streamlining your workflow for better care delivery.</i></h2>
    <br>
    <FORM align="middle" method="post">
        {% csrf_token %}
        <label for="username"> USERNAME</label><br>
        <input type="text" id="username" name="username" placeholder="Enter your username"></input><br><br>
        <label for="password">PASSWORD</label><br>
        <input type="text" id="password" name="password" placeholder="Enter your password"><br><br>
        <button type="submit">Log In</button>
        <br>
    
    <!--Don't have an account?-->

    <p><a href="{% url 'register' %}">Register</a></p>

    </FORM>
    </div>
</body>
</html>